body {
    background-color: #F0F8FF;
}
p {
    color:#00008B;
}
h2, a {
    color:#DC143C;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#rule {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#tabla1 {
    width: 400px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#tabla2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
table tr > *:nth-child(1) {
  text-align: right;
  width: 240px;
  padding: 6px;
}

table tr > *:nth-child(2) {
  text-align: left;
  padding: 6px;
}

.kepmeret {
    border: solid 1px #DC143C;
    width: 230px;
    height: 153px;
}
.float {
    float: right;
}